CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=

# credentials used for spotify SDK (on client-side) - so use read-only permissions unless you want the public to be able to control playback
ACCESS_TOKEN=
REFRESH_TOKEN=

# credentials for backend search (not public)
ADMIN_ACCESS_TOKEN=
ADMIN_REFRESH_TOKEN=

# if true, ACCESS_TOKEN and REFRESH_TOKEN must be generated with the user-modify-playback-state permission
SHOW_PLAYBACK_CONTROLS=false
