CLIENT_ID=
CLIENT_SECRET=
PORT=3000
REDIRECT_URI=http://localhost:3000/spotify

# need to activate a device if playing has stopped for awhile (not all devices support this)
#PREFERRED_DEVICE_ID=

# fallback if nothing is playing: indie chillout
SPOTIFY_FALLBACK_PLAYLIST_URI=spotify:playlist:37i9dQZF1DX9B1hu73DioC

# valid values are true, false, hidden
# if true/hidden, ACCESS_TOKEN and REFRESH_TOKEN must be generated with the user-modify-playback-state permission
# if hidden, click on the top left corner 5 times in quick succession to show controls
SHOW_PLAYBACK_CONTROLS=false
