CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=

# holds the access and refresh keys (the properties will be rewritten as required)
TOKEN_FILE=.tokens.ini

# if true, ACCESS_TOKEN and REFRESH_TOKEN must be generated with the user-modify-playback-state permission
SHOW_PLAYBACK_CONTROLS=false
