<!DOCTYPE html>
<html lang="en-GB" class="bg-[#000020] text-white">
<head>
    <title>Spotify Jukebox - Access Tokens</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Use these generate access tokens to access Spotify." />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@busybox11" />
    <meta name="twitter:image" content="/assets/images/favicon.png" />

    <meta property="og:title" content="NowPlaying" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Use these generate access tokens to access Spotify." />
    <meta property="og:image" content="/assets/images/favicon.png" />

    <meta name="theme-color" content="#23a92a" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200..900&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        'sans': ['Outfit', 'sans-serif']
                    },
                }
            }
        }
    </script>
</head>

<body class="flex flex-col h-screen px-4 py-auto gap-8 items-center justify-center text-center">
<div class="flex flex-col items-center justify-center w-full">
    <div class="flex flex-row gap-6 items-center justify-center">
        <a href="/">
            <img src="assets/images/favicon.png" alt="Logo" width="100px" height="100px">
        </a>

        <div>
            <h1 class="text-3xl lg:text-4xl font-bold">Almost there! One last thing...</h1>

            <div class="flex flex-row gap-2 mt-2">
                {{>links}}
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center text-left bg-red-800/50 px-4 py-2 rounded-lg gap-4 mt-8 w-4/5">
        <div>
            We'll also need to borrow a logged in web session so we can monitor change events just like the Spotify Web Player does.
        </div>
        <div>
            Login to <a class="underline" href="https://open.spotify.com/" target="_blank">https://open.spotify.com/</a>, open the Developer console (F12 in Chrome)
            and click on the Application tab. Under Storage, Cookies (open.spotify.com) find the row labeled <span class="font-mono px-1">sp_dc</span>
            and copy the value to your clipboard. You can close the web player but don't log out or it will invalidate the cookie.
        </div>
    </div>

    <h3 class="text-base lg:text-xl font-bold mt-3">Paste the cookie value into the box below and click Save.</h3>

    <form action="/save-cookies" method="POST" class="flex flex-col w-full items-center" x-data="cookieForm()" @submit.prevent="submitData">
        <div x-show="messageText" class="flex flex-row mt-1"
             x-transition:enter.duration.500ms
             x-transition:leave.duration.500ms>
            <div class="bg-white/10 rounded-l-lg w-full" x-text="messageText">
            </div>
        </div>
        <div class="flex flex-row items-center mt-3 rounded-l-lg w-3/4">
            <textarea class="w-full bg-white/20 border-0 focus:ring-[#15883D] focus:ring-2 focus:ring-inset rounded-l-lg py-2 px-3 bg-transparent outline-none" x-model="cookieData.data"></textarea>
            <button class="bg-[#15883D] py-2 px-3 ml-3 rounded-r-lg disabled:opacity-50" x-text="buttonLabel" :disabled="loading">
                Save
            </button>
        </div>
    </form>
</div>

<script src="//unpkg.com/alpinejs" defer></script>
<script>
    function cookieForm() {
        return {
            cookieData: {data: ''},
            loading: false,
            buttonLabel: 'Save',
            messageText : null,
            setMessage(msg) {
                this.messageText = msg;
                setTimeout( () => {
                    this.messageText = null;
                }, 5000);
            },
            submitData() {
                this.buttonLabel = 'Submitting...'
                this.loading = true;
                fetch('/save-cookies', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(this.cookieData)
                })
                .then(response => {
                    if (response.ok) {
                        this.setMessage('Cookie saved! Please wait, redirecting...');
                        window.location.replace("/");
                    }
                    else {
                        response.json().then(resp => this.setMessage("Ooops! Something went wrong! " + resp.error));
                    }
                }).catch((err) => this.setMessage("Ooops! Something went wrong! " + err.message))
                .finally(() => {
                    this.loading = false;
                    this.buttonLabel = 'Save'
                })
            }
        }
    }
</script>
</body>
</html>